@(evalForm : Form[String], results : Iterable[ru.mephi.typi.EvalResult])

@import helper.twitterBootstrap._
@import ru.mephi.typi.SuccessEval
@import ru.mephi.typi.core.term.Printer


@main("TyPi Interpreter") {

    @helper.form(action = routes.Application.eval()) {
        @helper.textarea(field = evalForm("code"), '_label -> "Write some code:",
        	'style -> "font-family: Consolas, Lucida Console, monospace; width:100%; height:350px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;")
        <input type="submit" value="Eval  >>" class="btn" />
    }

    @if(results.nonEmpty){
        <p>Evaluation result:</p>
        <div class="code">
            <ul>
                @for(result <- results) {
					@result match {
                        case r @ SuccessEval(evalLog, derivationTree) => {                
							<li>>><span class="term">@Html(Printer(evalLog.head))</span> :: <span class="type">@Html(Printer(derivationTree.resultType))</span></li>
                            <ul class="steps" style="display:none">
                                @for(step<-evalLog.reverse){
                                    <li>@Html(Printer(step))</li>
                                }
                            </ul>
							<ul class="derivationTree" style="display:none">
								<li>@Html(Printer(derivationTree))</li>
							</ul>
                        }
                        case _ => {
							<li span class="result">@result.result</li>
						}
                    }
                }
            </ul>
        </div>
    }
}{
    <script language="javascript">
        $(".term").on("click", function(){
			$(this).parent().next(".steps").toggle();
			$(this).parent().next(".steps").next(".derivationTree").hide();
		});
		$(".type").on("click", function(){
			$(this).parent().next(".steps").next(".derivationTree").toggle();
			$(this).parent().next(".steps").hide();
		})
	    $(".plus").on("click", function(){$(this).parent().children('.antecedent').toggle()})
    </script>
}
